#
# $Id$
#

# This is the scheduler rc file of the gpfilter.
#
# The scheduler looks for this file first in the main directory,
# then in "defaults" and "site" and it uses the last one found.
#
# This file is run by "nbspscheduler -m". 
# The current date-time is calculated in gmt if the <spec> ends with "g";
# otherwise local time is used. The "spec" argument is a time
# specification in one of the following forms, optionally followed by "g"
# as mentioned above.
#
# The syntax (copied from the mscheduler package) is:
#
# M             => run <program> every minute
# M=ll|mm|nn    => run at the minutes in the list (e.g., 00, 15, 30, 45)
# M/n           => run if the remainder of the (current minute)/n is zero. 
#
# H=hhmm|h'h'm'm'|...   => run at the hours and minutes in the list.
# Hmm|m'm'|.../n        => run if the remainder of (current hour)/n is zero
#                          and if the current minute is in the list
#
# D=ddhhmm|d'd'h'h'm'm'|... => run at the days of the month
#                              and hours and minutes in the list.
#                              Here the dd is between 01-31.
# Dhhmm|h'h'm'm'|.../n  => run if the remainder of (current day of month)/n
#                          is zero and the current hour and minute are
#                          in the list.
#                       
# W=dhhmm|d'h'h'm'm'|... => run at the days of the week and hours and minutes
#                           in the list.
#                           Here the d is between 0-6 with 0 = sunday.
# Whhmm|h'h'm'm'|.../n  => run if the remainder of (current day of week)/n
#                          is zero and the current hour and minute are
#                          in the list.
# Examples
#
# M      => run every minute
# M/4    => run every four minutes
# M=03|09|18|23  => run at minutes 03, 09, 18 and 23.
# H00/3  => run every three hours: 0, 3, 6, ...
# H=0300|0900|1800|2355  => run at 03, 09, 18 and 23:55
# H=0300|0900|1800|2355g => same thing but the times are relative to gmt
# W=52300 => run on fridays at 11 pm
# D=010100 => run on the first day of the month at 1 am.
# D0300|2100/2  => run every other day at 3 am and 9 pm.

# Define possible types to include
set plist_bref [list n0r n1r n2r n3r n0z]
set plist_full [list n0r n1r n2r n3r n0z \
	n0v n1v ncr n1s net nvw n0s n1s nvl n2s n3s nvl n1p ntp]

# Choose which one
set plist $plist_bref

# Short hand
set sd "nexrad_mosaic"

foreach p $plist {

  # Create the data files for all types (and create the latest link)
  schedule M/10 nbspgdradr -b -D gdpfun=${p} -c -C -d ${sd}/gem/$p -L latest

  # Create the images and loops
    schedule M/10 nbspradmos -b -D gdpfun=${p} -c -C -d ${sd}/img/$p \
	-r radmos.bref.rc -u radmos.bref.legend.gif -i -L ${sd}/gem/${p}/latest

    schedule M/10 nbspradmosl -b -c -C -d ${sd}/loop -o ${p}.gif \
	-i ${sd}/img/$p
}
