#
# $Id$
#
# logfilename [owner:group] mode count size when flags [/pid_file] [sig_num]
#
# nbsp
#
/var/noaaport/nbsp/stats/nbspd.status         644  7      *   $D0   ZNB
/var/noaaport/nbsp/stats/nbspd.missing        644  7      *   $D0   ZNB
/var/noaaport/nbsp/stats/nbspd.rtx            644  7      *   $D0   ZNB
/var/noaaport/nbsp/stats/nbspd.qstate         644  7      *   $D0   ZNB
/var/noaaport/nbsp/stats/nbspd.server         644  7      *   $D0   ZNB
/var/noaaport/nbsp/stats/nbspd.sthreads       644  7      *   $D0   ZNB
/var/noaaport/nbsp/stats/nbspd.filter         644  7      *   $D0   ZNB
#
# gempak decoders
#
