#
# $Id$
#
# This file is a variation of "radmap.rc" that includes the instruction for
# ploting the major city names (and the interstate highways) in the
# radar images. For the explanations about the general usage of these
# "rc" files see "radmap.rc". This file has one additional command in the
# gpmap script for ploting the city names that are defined contained
# in the "radmap-cites.tbl" file, and a modification of the "mapfil"
# variable to include the highways.
#
# In order to use this file instead of the default "radmap.rc", either
# rename this file to "radmap.rc", or copy this file to
# "site/gpmap/rad/radmap.rc", or redefine the variable
# "rstfilter(radmap_rcfile)" in "rstfilter.conf".
###########################################################################
#
# These are the defaults, but give the calling script (rstfilter) the
# chance to customize them. The gpmap(rad,xxx) settings below can be
# pre-defined in the rstfilter configuration file if desired.
#
set _gpmap(mapfil) {states + county + cities};
set _gpmap(lut) {default};
set _gpmap(latlon) {};
set _gpmap(imcbar) 1;
set _gpmap(map)    1;
set _gpmap(stnplt_options) {5/1|3/12/1.25/2};
set _gpmap(stnplt_file) \
	"/usr/local/etc/nbsp/defaults/gpmap/rad/radmap-cities.tbl";

foreach _k [list mapfil lut latlon imcbar map stnplt_options stnplt_file] {
    if {[info exists gpmap(rad,$_k)] == 0} {
	set gpmap(rad,$_k) $_gpmap($_k);
    }
}

set gpmap(script) {
    device   = $gpmap(fmt)|$gpmap(outputfile)|$gpmap(devsize)
    radfil   = $gpmap(inputfile)
    proj     = rad
    garea    = dset
    \$mapfil = $gpmap(rad,mapfil)
    lut      = $gpmap(rad,lut)
    latlon   = $gpmap(rad,latlon)
    imcbar   = $gpmap(rad,imcbar)
    map      = $gpmap(rad,map)
    stnplt   = $gpmap(rad,stnplt_options)|$gpmap(rad,stnplt_file)
    r

    e
}
