#
# $Id$
#

# This is the scheduler rc file of the gribfilter to produce the graphs
# using tclgrads scripts. 
#
# The scheduler looks for this file first in the main directory,
# then in "defaults" and "site" and it uses the last one found.
#
# This file is run by "nbspscheduler -m". 
# The current date-time is calculated in gmt if the <spec> ends with "g";
# otherwise local time is used. The "spec" argument is a time
# specification in one of the following forms, optionally followed by "g"
# as mentioned above.
#
# The syntax (copied from the mscheduler package) is:
#
# M             => run <program> every minute
# M=ll|mm|nn    => run at the minutes in the list (e.g., 00, 15, 30, 45)
# M/n           => run if the remainder of the (current minute)/n is zero. 
#
# H=hhmm|h'h'm'm'|...   => run at the hours and minutes in the list.
# Hmm|m'm'|.../n        => run if the remainder of (current hour)/n is zero
#                          and if the current minute is in the list
#
# D=ddhhmm|d'd'h'h'm'm'|... => run at the days of the month
#                              and hours and minutes in the list.
#                              Here the dd is between 01-31.
# Dhhmm|h'h'm'm'|.../n  => run if the remainder of (current day of month)/n
#                          is zero and the current hour and minute are
#                          in the list.
#                       
# W=dhhmm|d'h'h'm'm'|... => run at the days of the week and hours and minutes
#                           in the list.
#                           Here the d is between 0-6 with 0 = sunday.
# Whhmm|h'h'm'm'|.../n  => run if the remainder of (current day of week)/n
#                          is zero and the current hour and minute are
#                          in the list.
# Examples
#
# M      => run every minute
# M/4    => run every four minutes
# M=03|09|18|23  => run at minutes 03, 09, 18 and 23.
# H00/3  => run every three hours: 0, 3, 6, ...
# H=0300|0900|1800|2355  => run at 03, 09, 18 and 23:55
# H=0300|0900|1800|2355g => same thing but the times are relative to gmt
# W=52300 => run on fridays at 11 pm
# D=010100 => run on the first day of the month at 1 am.
# D0300|2100/2  => run every other day at 3 am and 9 pm.
#
# The default rules are scheduled to execute the plot scripts 10 minutes
# after the hour, so that any grads control files that may be needed are
# already created by the filter.

# Short hand definition
set tgs "grads/tgs";	# tclgrads scrips

## gfs 211
set m gfs;
set g 211;
foreach h [list 6 12 24 48 60 72 84 96 120 240] {
  foreach p [list uvtprs tmpprs rhprs prmslmsl] {
    set rc $tgs/${p}.tgs;
    schedule H10/3g nbspgribplotc -m $m -g $g -h $h -d ${m}_${g} $rc;
  }
}

## rap 236
#  (Use -I end-1 to choose the file from the previous, just finished, hour)
set m rap;
set g 236;
foreach h [list 1 2 3] {
  foreach p [list uvtprs tmpprs rhprs mslmamsl] {
    set rc $tgs/${p}.tgs;
    schedule H10/1 nbspgribplotc -m $m -g $g -h $h -d ${m}_${g} -I end-1 $rc;
  }
}

## nam 211
set m nam;
set g 211;
foreach h [list 6 12 18 54 60] {
  foreach p [list uvtprs tmpprs rhprs prmslmsl msletmsl] {
    set rc $tgs/${p}.tgs;
    schedule H=0410|1610g nbspgribplotc -m $m -g $g -h $h -d ${m}_${g} $rc;
  }
}

## nam 207 - Alaska
set m nam;
set g 207;
foreach h [list 6 12 18 42 48 54 60] {
  foreach p [list uvtprs tmpprs rhprs msletmsl] {
    set rc $tgs/${p}.tgs;
    schedule H=0410|1610g nbspgribplotc -m $m -g $g -h $h -d ${m}_${g}_ak $rc;
  }
}

## mrf 204 - Hawaii
set m mrf;
set g 204;
foreach h [list 12 24 36 48 60 72 84 96 108 120 132 144 156 168 180 192 204 \
	216 228 240] {
  foreach p [list apcpsfc uvtprs tmpprs rhprs prmslmsl] {
    set rc $tgs/${p}.tgs;
    schedule H=0810g nbspgribplotc -m $m -g $g -h $h -d ${m}_${g}_hw $rc;
  }
}

## mrf 205 - Puerto Rico
set m mrf;
set g 205;
foreach h [list 12 24 36 48 60 72 84 96 108 120 132 144 156 168 180 192 204 \
	216 228 240] {
  foreach p [list apcpsfc uvtprs tmpprs rhprs prmslmsl stream-pr] {
    set rc $tgs/${p}.tgs;
    schedule H=0810g nbspgribplotc -m $m -g $g -h $h -d ${m}_${g}_pr $rc;
  }
}
