#
# $Id$
#

#
# These defaults can (should) be overriden via the -D switch to
# nbspgismap1. In practice, they are set in the "bundle configuration file".
#
set _map(extent) {-126 30 -66 50};
set _map(size) {800 600};
#
foreach _k [list extent size] {
    if {[info exists map($_k)] == 0} {
        set map($_k) $_map($_k);
    }
}

set map(script) {
MAP
	#
	# Allow the possibility that the extent parameters are
	# specified as "a b c d" or "a,b,c,d", and similarly with the size.
	#
	EXTENT [string map [list "," " "] $map(extent)]
	UNITS  DD
	SIZE [string map [list "," " "] $map(size)]

	NAME "GOESMap"
	IMAGETYPE mypng
	TRANSPARENT ON
	OUTPUTFORMAT
		NAME mypng
		DRIVER "GD/PNG"
		IMAGEMODE RGBA
		FORMATOPTION "INTERLACE=false"
		MIMETYPE "image/png"
		EXTENSION "png"
	END

	LAYER
		TYPE RASTER
		NAME "West"
		STATUS ON
		DATA "$map(inputfile,1)"
		CLASS
			NAME 'black'
			EXPRESSION (\[pixel\] > 0)
			STYLE
			END
		END
	END

	LAYER
		TYPE RASTER
		NAME "East"
		STATUS ON
		DATA "$map(inputfile,2)"
		CLASS
			NAME 'black'
			EXPRESSION (\[pixel\] > 0)
			STYLE
			END
		END
	END

	LAYER
		TYPE POLYGON
		NAME "World"
		STATUS ON
		DATA "$map(geodata)/world/world.shp"
		CLASS
			NAME 'white-outline-1'
			OUTLINECOLOR 255 255 255
		END
	END

	LAYER
		TYPE POLYGON
		NAME "States"
		STATUS ON
		DATA "$map(geodata)/s_01au07/s_01au07.shp"
		CLASS
			NAME 'white-outline-2'
			OUTLINECOLOR 255 255 255
		END
	END

END
}
