#
# $Id$
#
package require nbsp::gis;

# Load the color definitions - the default is that they are in the file
# gis-color-def in the same directory as this template.
#
::nbsp::gis::init [file join [file dirname [info script]] "gis-colors.def"];

# Colors can be overriden here. For example this will set a light
# grey background for n0r images.
#
# ::nbsp::gis::radcolor_set "n0r" "background" {196 196 196}

# When this file is sourced (by nbspgismap1), the following parameters
# will have been set:
#
# map(awips1)	= e.g., n0r
# map(geodata)
# map(mapfonts)
# map(inputfile,<i>)
# map(extent)
# map(size)
#
# These (extent and size) defaults can (should) be overriden via
# the -D switch to nbspgismap1. In practice, they are set in the
# "bundle configuration file".
#
set _map(extent) {-126 30 -66 50};
set _map(size) {800 600};
#
foreach _k [list extent size] {
    if {[info exists map($_k)] == 0} {
        set map($_k) $_map($_k);
    }
}

set header {
MAP
	#
	# Allow the possibility that the extent parameters are
	# specified as "a b c d" or "a;b;c;d", and similarly with the size.
	#
	EXTENT [string map [list ";" " "] $map(extent)]
	UNITS  DD
	SIZE [string map [list ";" " "] $map(size)]
	IMAGECOLOR [::nbsp::gis::radcolor $map(awips1) background]
	FONTSET "$map(mapfonts)/fonts.list"
	#
	# IMAGECOLOR 196 196 196  will give a light grey background
	#
}

#
# The "nexrad" layer; one for each site.
#
set nexrad {
LAYER
  NAME $name
  DATA $datafile
  TYPE RASTER
  STATUS ON
  TRANSPARENCY 100
  # OPACITY 0
  PROCESSING "SCALE=0,80"
  PROCESSING "SCALE_BUCKETS=3"

  CLASSITEM "\[pixel\]"

   CLASS
     EXPRESSION (\[pixel\] >= 0 && \[pixel\] < 3)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 0]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 3 && \[pixel\] < 6)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 3]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 6 && \[pixel\] < 9)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 6]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 9 && \[pixel\] < 12)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 9]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 12 && \[pixel\] < 15)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 12]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 15 && \[pixel\] < 18)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 15]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 18 && \[pixel\] < 21)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 18]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 21 && \[pixel\] < 24)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 21]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 24 && \[pixel\] < 27)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 24]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 27 && \[pixel\] < 30)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 27]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 30 && \[pixel\] < 33)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 30]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 33 && \[pixel\] < 36)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 33]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 36 && \[pixel\] < 39)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 36]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 39 && \[pixel\] < 42)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 39]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 42 && \[pixel\] < 45)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 42]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 45 && \[pixel\] < 48)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 45]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 48 && \[pixel\] < 51)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 48]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 51 && \[pixel\] < 54)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 51]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 54 && \[pixel\] < 57)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 54]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 57 && \[pixel\] < 60)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 57]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 60 && \[pixel\] < 63)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 60]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 63 && \[pixel\] < 66)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 63]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 66 && \[pixel\] < 69)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 66]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 69 && \[pixel\] < 72)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 69]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 72 && \[pixel\] < 75)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 72]
     END
   END

   CLASS
     EXPRESSION (\[pixel\] >= 75)
     STYLE
       COLOR [::nbsp::gis::radcolor $map(awips1) 75]
     END
   END

END
}

set counties {
LAYER
    NAME "counties"
    TYPE POLYGON
    STATUS ON
    DATA "$map(geodata)/c_15jl09/c_15jl09.shp"
    TRANSPARENCY 100
    LABELITEM "countyname"
    CLASS
       NAME "counties"
       STYLE
         OUTLINECOLOR 90 90 90
       END
      LABEL
        COLOR 132 31 31
        SHADOWCOLOR 218 218 218
        SHADOWSIZE 2 2
        TYPE TRUETYPE
        FONT arial-bold
        SIZE 6
        ANTIALIAS TRUE
        POSITION CL
        PARTIALS FALSE
        MINDISTANCE 300
        BUFFER 4
      END # end of label 
    END
END
}

#
# Build the main script
#
set MAP [subst $header];
set i 1;
foreach k [array names map "inputfile,*"] {
    set name "nexrad-$i";
    set datafile $map($k);
    append MAP "\n" [subst $nexrad];
    incr i;
}
append MAP "\n" [subst $counties];
append MAP "\n" "END";

set map(scriptstr) $MAP;

#
# Test
#
# source "gis.tcl";
#
# set map(awips1) "n0r";
# set map(geodata) "/usr/local/share/nbsp/defaults/geodata";
# set map(mapfonts) "/usr/local/share/nbsp/defaults/mapfonts";
# set map(inputfile,1) "/var/noaaport/data/gis/1.asc";
# set map(inputfile,2) "/var/noaaport/data/gis/2.asc";
#
# Use the defaults for these two:
#
# map(extent)
# map(size)
#
# source "map_rad.tmpl";
# puts $map(scriptstr);
