#
# $Id$
#

#
# EXTENT [string map [list ";" " "] $map(extent)];
#
set map(script) {
MAP

	NAME "GOESMap"
	EXTENT $map(extent)
	UNITS  DD
	SIZE   $map(size)

	TRANSPARENT ON

	OUTPUTFORMAT
		NAME mypng
		DRIVER "GD/PNG"
		IMAGEMODE RGBA
		FORMATOPTION "INTERLACE=false"
		MIMETYPE "image/png"
		EXTENSION "png"
	END

	IMAGETYPE mypng

	LAYER
		TYPE RASTER
		NAME "West"
		STATUS ON
		DATA "$map(inputfile,1)"
		CLASS
			NAME 'black'
			EXPRESSION (\[pixel\] > 0)
			STYLE
			END
		END
	END

	LAYER
		TYPE RASTER
		NAME "East"
		STATUS ON
		DATA "$map(inputfile,2)"
		CLASS
			NAME 'black'
			EXPRESSION (\[pixel\] > 0)
			STYLE
			END
		END
	END

	LAYER
		TYPE POLYGON
		NAME "World"
		STATUS ON
		DATA "$map(geodata)/world/world.shp"
		CLASS
			NAME 'white-outline-1'
			OUTLINECOLOR 255 255 255
		END
	END

	LAYER
		TYPE POLYGON
		NAME "States"
		STATUS ON
		DATA "$map(geodata)/s_01au07/s_01au07.shp"
		CLASS
			NAME 'white-outline-2'
			OUTLINECOLOR 255 255 255
		END
	END

END
}
