;
; $Id$
;
; Sample configuration file that covers all level2 sites.
; It can be copied to the directory
;
;       /var/noaaport/data/digatmos/nexrad/craft
;
; The common name for this file is "config.cfg" while,
; at the moment of writing, the GR software calls this file "grlevel2.cfg".
; The dafilter takes care of updating the "list" file.

ListFile: list

Site: KABR
Site: KABX
Site: KAKQ
Site: KAMA
Site: KAMX
Site: KAPX
Site: KARX
Site: KATX
Site: KBBX
Site: KBGM
Site: KBHX
Site: KBIS
Site: KBLX
Site: KBMX
Site: KBOX
Site: KBRO
Site: KBUF
Site: KBYX
Site: KCAE
Site: KCBW
Site: KCBX
Site: KCCX
Site: KCLE
Site: KCLX
Site: KCRP
Site: KCXX
Site: KCYS
Site: KDAX
Site: KDDC
Site: KDFX
Site: KDGX
Site: KDIX
Site: KDLH
Site: KDMX
Site: KDOX
Site: KDTX
Site: KDVN
Site: KDYX
Site: KEAX
Site: KENX
Site: KEPZ
Site: KESX
Site: KEVX
Site: KEWX
Site: KFCX
Site: KFDR
Site: KFDX
Site: KFFC
Site: KFSD
Site: KFSX
Site: KFTG
Site: KFWS
Site: KGGW
Site: KGJX
Site: KGLD
Site: KGRB
Site: KGRK
Site: KGRR
Site: KGSP
Site: KGWX
Site: KGYX
Site: KHDX
Site: KHGX
Site: KHNX
Site: KHTX
Site: KICT
Site: KICX
Site: KILN
Site: KILX
Site: KIND
Site: KINX
Site: KIWA
Site: KIWX
Site: KJAX
Site: KJGX
Site: KJKL
Site: KLBB
Site: KLCH
Site: KLIX
Site: KLNX
Site: KLOT
Site: KLRX
Site: KLSX
Site: KLTX
Site: KLVX
Site: KLWX
Site: KLZK
Site: KMAF
Site: KMAX
Site: KMHX
Site: KMKX
Site: KMLB
Site: KMOB
Site: KMPX
Site: KMQT
Site: KMRX
Site: KMSX
Site: KMTX
Site: KMUX
Site: KMVX
Site: KNKX
Site: KNQA
Site: KOAX
Site: KOHX
Site: KOKX
Site: KOTX
Site: KPAH
Site: KPBZ
Site: KPDT
Site: KPUX
Site: KRAX
Site: KRGX
Site: KRIW
Site: KRLX
Site: KRTX
Site: KSFX
Site: KSGF
Site: KSHV
Site: KSJT
Site: KSOX
Site: KSRX
Site: KTBW
Site: KTFX
Site: KTLH
Site: KTLX
Site: KTWX
Site: KTYX
Site: KUDX
Site: KUEX
Site: KVNX
Site: KVTX
Site: KVWX
Site: KYUX
Site: PHKI
Site: PHKM
Site: PHMO
Site: TJUA
