;
; $Id$
;
; Sample configuration file that covers all products from
; all the radar sites. It can be copied to the directory
;
;	/var/noaaport/data/digatmos/nexrad/nids
;
; The common name for this file is "config.cfg" while,
; at the moment of writing, the GR software calls this file "grlevel3.cfg".
; The dafilter takes care of updating the "list" file.

ListFile: list

Product: N0R sss/n0r
Product: N0S sss/n0s
Product: N0V sss/n0v
Product: N0Z sss/n0z
Product: N1P sss/n1p
Product: N1R sss/n1r
Product: N1S sss/n1s
Product: N1V sss/n1v
Product: N2R sss/n2r
Product: N2S sss/n2s
Product: N3R sss/n3r
Product: N3S sss/n3s
Product: NCR sss/ncr
Product: NET sss/net
Product: NMD sss/nmd
Product: NTP sss/ntp
Product: NVL sss/nvl
Product: NVW sss/nvw

Product: N0Q sss/n0q
Product: NAQ sss/naq
Product: N1Q sss/n1q
Product: NBQ sss/nbq
Product: N2Q sss/n2q
Product: N3Q sss/n3q
Product: N0U sss/n0u
Product: NAU sss/nau
Product: N1U sss/n1u
Product: NBU sss/nbu
Product: N2U sss/n2u
Product: N3U sss/n3u
Product: DVL sss/dvl
Product: EET sss/eet

Product: DHR sss/dhr
Product: DSP sss/dsp
Product: TR0 sss/tr0
Product: TR1 sss/tr1
Product: TR2 sss/tr2
Product: TV0 sss/tv0
Product: TV1 sss/tv1
Product: TV2 sss/tv2
Product: TZL sss/tzl

Site: KBMX
Site: KMXX
Site: KEOX
Site: KMOB
Site: KHTX
Site: PAHG
Site: PABC
Site: PAPD
Site: PAKC
Site: PAIH
Site: PAEC
Site: PACG
Site: KFSX
Site: KIWA
Site: KEMX
Site: KYUX
Site: KLZK
Site: KSRX
Site: KBBX
Site: KEYX
Site: KBHX
Site: KVTX
Site: KDAX
Site: KNKX
Site: KMUX
Site: KHNX
Site: KSOX
Site: KVBX
Site: KFTG
Site: KGJX
Site: KPUX
Site: KDOX
Site: KJAX
Site: KBYX
Site: KMLB
Site: KAMX
Site: KEVX
Site: KTLH
Site: KTBW
Site: KFFC
Site: KVAX
Site: KJGX
Site: PGUA
Site: PHKM
Site: PHMO
Site: PHKI
Site: PHWA
Site: KCBX
Site: KSFX
Site: KILX
Site: KLOT
Site: KVWX
Site: KIND
Site: KIWX
Site: KDMX
Site: KDVN
Site: KDDC
Site: KGLD
Site: KTWX
Site: KICT
Site: KHPX
Site: KJKL
Site: KLVX
Site: KPAH
Site: KPOE
Site: KLCH
Site: KLIX
Site: KSHV
Site: KCBW
Site: KGYX
Site: KBOX
Site: KDTX
Site: KGRR
Site: KMQT
Site: KAPX
Site: KDLH
Site: KMPX
Site: KGWX
Site: KDGX
Site: KEAX
Site: KSGF
Site: KLSX
Site: KBLX
Site: KGGW
Site: KTFX
Site: KMSX
Site: KUEX
Site: KLNX
Site: KOAX
Site: KLRX
Site: KESX
Site: KRGX
Site: KABX
Site: KFDX
Site: KHDX
Site: KENX
Site: KBGM
Site: KBUF
Site: KTYX
Site: KOKX
Site: KMHX
Site: KRAX
Site: KLTX
Site: KBIS
Site: KMVX
Site: KMBX
Site: KILN
Site: KCLE
Site: KFDR
Site: KTLX
Site: KINX
Site: KVNX
Site: KMAX
Site: KPDT
Site: KRTX
Site: KCCX
Site: KDIX
Site: KPBZ
Site: TJUA
Site: KCLX
Site: KCAE
Site: KGSP
Site: KABR
Site: KUDX
Site: KFSD
Site: KMRX
Site: KNQA
Site: KOHX
Site: KAMA
Site: KEWX
Site: KBRO
Site: KGRK
Site: KCRP
Site: KFWS
Site: KDYX
Site: KEPZ
Site: KHGX
Site: KDFX
Site: KLBB
Site: KMAF
Site: KSJT
Site: KICX
Site: KMTX
Site: KCXX
Site: KLWX
Site: KAKQ
Site: KFCX
Site: KATX
Site: KOTX
Site: KRLX
Site: KGRB
Site: KARX
Site: KMKX
Site: KCYS
Site: KRIW

Site: TADW
Site: TATL
Site: TBNA
Site: TBOS
Site: TBWI
Site: TCLT
Site: TCMH
Site: TCVG
Site: TDAL
Site: TDAY
Site: TDCA
Site: TDEN
Site: TDFW
Site: TDTW
Site: TEWR
Site: TFLL
Site: THOU
Site: TIAD
Site: TIAH
Site: TICH
Site: TIDS
Site: TJFK
Site: TLAS
Site: TLVE
Site: TMCI
Site: TMCO
Site: TMDW
Site: TMEM
Site: TMIA
Site: TMKE
Site: TMSP
Site: TMSY
Site: TOKC
Site: TORD
Site: TPBI
Site: TPHL
Site: TPHX
Site: TPIT
Site: TRDU
Site: TSDF
Site: TSJU
Site: TSLC
Site: TSTL
Site: TTPA
Site: TTUL
